<%= render :partial => '/shared/unlock_phi' -%>

<%= render :partial => "/reminders/quick_add_reminder" %>

<div class="page-header">
<h3>Your Upcoming Reminders</h3>
<%= render :partial => '/reminders/table', :object => current_user.reminder_list %>
</div>

<div class="page-header">
<h3>Your Open D/C Packets</h3>
<%= render :partial => '/dc_summaries/table', :object => current_user.dc_summaries_list %>
</div>

<%= render :partial => '/reminder_lists/reminders_for_supervisor' unless current_user.reminder_lists.empty? %>

<% content_for :sidebar do %>
	<h6>Search for patient</h6>
	<%= form_tag url_for(:controller => "/dashboard", :action => "search"), :class => "form-horizontal" do %>
		<%= text_field_tag :mrn, "", :placeholder => "0000000", :size => 8 -%>
		<%= submit_tag "Search", :class => "btn" %>
	<% end %>
	<p>
	Search will find all reminders, d/c summaries, and signouts
	associated with a given patient
	</p>
	<br/>
	<h6>Recent Activity</h6>
	<ul>
	<% current_user.recent_logs.each do |l| %>
		<li><span id="log-message"><%= l.message %></span></li>
	<% end %>
	</ul>
	
	<br/>
	<h6>Links</h6>
	<ul>
	<li><%= link_to "Clinical Workstation", "#" -%></li>
	<li><%= link_to "PADI", "#" -%></li>
	<li><%= link_to "ePageMD", "#" -%></li>
	<li><%= link_to "UpToDate", "#" -%></li>
<% end %>