
<div class="page-header">
<h3>In Progress D/C Summaries for <%= params[:mrn] %></h3>
<% if @dc_summaries_open.empty? %>
	No in progress d/c summaries found
<% else %>
	<%= render :partial => '/dc_summaries/table', :object => @dc_summaries_open %>
<% end %>
</div>


<div class="page-header">
<h3>Finalized D/C Summaries for <%= params[:mrn] %></h3>
<% if @dc_summaries_finalized.empty? %>
	No finalized d/c summaries found
<% else %>
	<%= render :partial => '/dc_summaries/table', :object => @dc_summaries_finalized %>
<% end %>
</div>

<div class="page-header">
<h3>Reminders for <%= params[:mrn] %></h3>
<% if @reminders.empty?%>
	No Reminders Found
<% else %>
	<%= render :partial => '/reminders/table', :object => @reminders %>
<% end %>
</div>