<div id="contentCard">
	<h1>My Profile</h1>

	<div class="large-form">
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	<% if devise_error_messages!.size > 0 %>
		<div class="alert"><%= devise_error_messages! %></div>
	<% end %>

	<%= req_field -%><%= f.label :email, "Email Address" %><br />
	<%= f.email_field :email, :title => "name@domain.com" %>
	
	<table>
		<tr>
			<td>
				<%= req_field -%><%= f.label :first_name %><br/>
				<%= f.text_field :first_name, :title => "John", :size => 15 %>
			</td>
			<td width="5">&nbsp;</td>
			<td>
				<%= req_field -%><%= f.label :last_name %><br/>
				<%= f.text_field :last_name, :title => "Doe", :size => 15 %>
			</td>
		</tr>
		<tr>
			<td>
				<%= req_field -%><%= f.label :pager_number %><br/>
				<%= f.text_field :pager_number, :value =>  number_to_phone(f.object.pager_number, :area_code => true), :title => "(818) 313-1212", :size => 15 %>
			</td>
			<td width="5">&nbsp;</td>
			<td>
				<%= f.label :sms_number, "Cell Phone" %><br/>
				<%= f.text_field :sms_number, :value =>  number_to_phone(f.object.sms_number, :area_code => true), :title => "(818) 313-1212", :size => 15 %>
			</td>
		</tr>
	</table>
	
	<div id="grayText">Cell phone number is required if you would like to create and/or receive reminders via text messages</div>
	
	<div id="reminder-preferences">
		<h3>Receive Reminders Via</h3>
		<%= check_box_tag(:remind_by_page, 1, true, :disabled => true) %> <%= label_tag :pager %><br/>
		<%= f.check_box(:remind_by_email, {}, "1", nil) %> <%= label_tag :email %><br/>
		<%= f.check_box(:remind_by_sms, {}, "1", nil) %> <%= label_tag :text_message %><br/>
	</div>
	
	<%= f.label "Default Reminder List" %><br/>
	<%= collection_select(:user, :default_reminder_list_id, ReminderList.all(:order => "Name ASC"), :id, :name ) %>

	<div class="field"><%= f.label :current_password %> <%= link_to "Change Password", "#", :id => "hide-show-change-password" %> <br/><span id="grayText">(required to update your profile)</span><br />
	<%= f.password_field :current_password, :title => "*************" %></div>
	
	<div id="change-password">
		<div class="field"><%= f.label :password %><br/><span id="grayText">(leave blank if you don't want to change it)</span><br />
		<%= f.password_field :password %></div>

		<div class="field"><%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation %></div>
	</div>
	
	<div><%= f.submit "Update Profile", :class => "button white large" %></div>
	<% end %>
	</div>
</div>