<div class="page-header">
	<h3>My Profile</h3>
	<br/>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	<% if devise_error_messages!.size > 0 %>
		<div class="row"><div class="span6">
		<div class="alert alert-error"><%= errors_for(resource, "Could not save user:") %></div>
		</div></div>
	<% end %>

	<%= req_field -%><%= f.label :email, "Email Address" %>
	<%= f.email_field :email, :placeholder => "name@domain.com", :class => "span6" %>
	
	<div class="row">
		<div class="span3">
			<%= req_field -%><%= f.label :first_name %>
			<%= f.text_field :first_name, :placeholder => "John", :class => "span3" %>
			
			<%= req_field -%><%= f.label :pager_number %>
			<%= f.text_field :pager_number, :value =>  number_to_phone(f.object.pager_number, :area_code => true), :placeholder => "(818) 313-1212", :class => "span3" %>
		</div>
		<div class="span3">
			<%= req_field -%><%= f.label :last_name %>
			<%= f.text_field :last_name, :placeholder => "Doe", :class => "span3" %>
			
			<%= f.label :sms_number, "Cell Phone" %>
			<%= f.text_field :sms_number, :value =>  number_to_phone(f.object.sms_number, :area_code => true), :placeholder => "(818) 313-1212", :class => "span3" %>
			<p class="help-block">Required for creating and receiving reminders 
				via text messaging</p>
			
		</div>
		
	</div>
	<br/>
	<div class="row">
		<div class="span3">
			<%= f.label "Default Reminder List" %>
			<%= collection_select(:user, :default_reminder_list_id, ReminderList.all(:order => "Name ASC"), :id, :name ) %>

			<%= f.label :current_password %> 
			<%= f.password_field :current_password, :placeholder => "Required to update your profile" %>
		</div>
		
		<div class="span5">
			<%= f.label "Receive Reminders Via: "%>
			<label class="checkbox">
				<%= check_box_tag(:remind_by_page, 1, true, :disabled => true) %> Pager
			</label>
			<label class="checkbox">
				<%= f.check_box(:remind_by_email, {}, "1", nil) %> Email
			</label>
			<label class="checkbox">
				<%= f.check_box(:remind_by_sms, {}, "1", nil) %> Text Message
			</label>
		</div>
	</div>

	<%= link_to "Change Password", "#", :id => "hide-show-change-password" %>
	<div id="change-password" style="display: none">
		<br/>
		<%= f.label :new_password %>
		<%= f.password_field :password %>

		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>
	
	<br/><br/>
	<%= f.submit "Save Profile", :class => "btn btn-large" %>
	<% end %>
</div>