<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <% if devise_error_messages! != "" %>
	<div class="alert alert-error"><%= devise_error_messages! %></div>
  <% end %>

	<div style="width: 300px; margin-left: auto; margin-right: auto;">
	<%= req_field -%><%= f.label :email, "Email Address" %>
	<%= f.email_field :email, :id => "text-field-input", :placeholder => "name@domain.com", :class => "span4" %>

  	<%= req_field -%><%= f.label :password %>
	<%= f.password_field :password, :id => "text-field-input", :placeholder => "**********", :class => "span4" %>

	<%= req_field -%><%= f.label :password_confirmation %>
  	<%= f.password_field :password_confirmation, :id => "text-field-input", :placeholder => "**********", :class => "span4" %>

	<div class="row">
		<div class="span2">
			<%= req_field -%><%= f.label :first_name %>
			<%= f.text_field :first_name, :id => "text-field-input", :placeholder => "John", :class => "span2" %>
			
			<%= req_field -%><%= f.label :pager_number %>
			<%= f.text_field :pager_number, :id => "text-field-input", :placeholder => "818-555-1212", :class => "span2"%>		
		</div>
	
		<div class="span2">
			
			<%= req_field -%><%= f.label :last_name %>
			<%= f.text_field :last_name, :id => "text-field-input", :placeholder => "Doe", :class => "span2" %>
				
			

			<%= f.label :sms_number, "Cell Phone" %>
			<%= f.text_field :sms_number, :id => "text-field-input", :placeholder => "818-555-1212", :class => "span2" %>
		</div>
	</div>

		<%= f.submit "Sign up", :class => "btn btn-large span4", :disable_with => "Please Wait ..." %>
	<p class="help-block">Cell phone number is required if you would like to create and/or receive reminders via text messages</p>
	</div>
<% end %>

<div style="text-align: center">
<%= render :partial => "devise/shared/links" %>
</div>
