<div style="font-size: 20px; text-align: center">You have been granted access to <%= ENV['APPLICATION_NAME']%></div>
<br/>
<div id="gray" style="margin-bottom: 30px">
	You have been granted access to <%= ENV['APPLICATION_NAME']%>. You can log by visiting <%= link_to url_for(:controller => "/dashboard", :only_path => false), url_for(:controller => "/dashboard", :only_path => false)%>. This site provides tools for medicine residents and faculty, with a focus on improving patient safety and improving efficiency.<br/><br/>
	Features:<br/>
	<ul>
		<li>Reminders: Create reminders for patients you have seen in clinic or have recently discharged. You can create reminders on the website or by texting <%= number_to_phone(ENV["TWILIO_PHONE_NUMBER"], :area_code => true)%> (usage charges may apply). You can receive notifications by email, phone, and pager.</li><br/>
		<li>D/C Summaries: Start discharge summaries on admission, and slowly work on your discharge paperwork throughout a patient's admission. Pass discharge summaries to other users once complete. Once complete, the system will try and generate all the required paperwork, including prescriptions, yellow consultations, discharge summary, and patient instruction sheet.</li><br/>
		<li>Don't Repeat Yourself: <%= ENV['APPLICATION_NAME']%> works to minimize the amount of time you entering the same data. Import medications and patient history from prior visits. Input medications once and have them available in your patient instructions (translated into plain english), prescriptions, and discharge documents.</li><br/>
		<li>Clean Up Tools: Simple clean up tools which allow you to copy and paste clinical workstation documents and strip out excess spacing. Also, generate a table of all patients in a signout organized by ward for easier lookup during cross cover.</li><br/>
		<li>Coming Soon, Improved Signout! Generate signouts from previous discharge documents or from prior signouts. Move patients between teams. Different signout views for interns, residents/attendings, and cross cover.</li>
	</ul>
	
	<br/>
	Please email <a href="mailto:<%= ENV["ADMIN_NOTIFY_EMAIL"]%>"><%= ENV["ADMIN_NOTIFY_EMAIL"]%></a> with questions, comments, or suggestions.
</div>