<div id="prescription-form-errors" class="alert hidden"></div>
<div class="small-form">
<%= form_for @prescription, :remote => true, do |f|%>
	<%= f.hidden_field :dc_summary_id, :value => dc_summary_id -%>
	<table>
		<tr>
			<td colspan="3">
				<%= f.label :drug %><br/>
				<%= f.text_field :drug, :title => "Lasix 20mg", :size => 25 -%>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<%= f.label :sig %></br>
				<%= f.text_field :sig, :title => "1 tab PO BID", :size => 25 %>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label :quantity %><br/>
				<%= f.text_field :quantity, :title => "3 mo", :size => 3%>
			</td>
			<td width="5">&nbsp;</td>
			<td>
				<%= f.label :refills %><br/>
				<%= f.text_field :refills, :title => "0", :size => 1%>
			</td>
		</tr>
		<tr>
			<td colspan="3">
			<% if @prescription.new_record? %>
				<%= f.submit "+ Add Prescription", :class => "button green medium" %>
			<% else %>
				<%= f.submit "Update", :class => "button white small" %>
			<% end %>
			</td>
		</tr>
	</table>
<% end %>
</div>