<div id="reminder-form-error" class="hidden alert alert-error"></div>
<div id="reminder-form-notice" class="hidden alert alert-success"></div>
<% @reminder.reminder_list_id ||= current_user.default_reminder_list.id %>
<%= form_for @reminder, :remote => true, :id => @reminder.id do |f| %>

	<%= f.label :mrn %>
	<%= f.text_field :mrn, :placeholder => "0000000" %>

	<%= f.label :Reminder %>
	<%= f.text_field :reminder, :placeholder => "e.g. Follow up blood Cx" %>

	<%= f.label :When%>
	<% if @reminder.new_record? %>
		<%= f.text_field :time_value, :style => "width: 50px" %> <%= select(:reminder, :time_units, [['Hours', 1], ['Days', 24], ['Weeks', 168]]) %>
	<% else %>
		<%= f.datetime_select :remind_time, :ampm => false, :order => [:month, :day, :year], :include_seconds => false %>
	<% end %>

	<%= f.label :List %>
	<%= collection_select(:reminder, :reminder_list_id, ReminderList.all, :id, :name)%><br/>

	<% if @reminder.new_record? %>
		<%= f.submit "Create Reminder", :class => "btn" %>
	<% else %>
		<%= f.submit "Edit Reminder", :class => "btn" %>
		<%= link_to "cancel", {:controller => "/reminders", :action => "cancel_edit", :id => @reminder.id }, :method => :get, :remote => true %>
	<% end %>
	
<% end %>