<div id="page-navigation-tabs">
	<div class="idTabs">
		<%= link_to "Users", "#user_list", :class => "button medium white" -%>
		<%= link_to "Reminder Lists", "#reminder_list", :class => "button medium white" -%>
		<%= link_to "Review Logs", "#review_logs", :class => "button medium white" -%>
	</div>
</div>
<br/>
<div id="user_list"><%= render :partial => "users"%></div>
<div id="reminder_list"><%= render :partial => "reminder_lists"%></div>
<div id="review_logs"><%= render :partial => "logs"%></div>