<div class="page-header">

<h3>Medications</h3>
<%= link_to "Download / Print Prescription", url_for(:action => "prescriptions", :id => @dc_summary.id, :format => "pdf"), :target => "_blank" -%>
</h3>
<div class="row">
	<div class="span6">
		<table class="table table-striped">
			<tr>
				<th>Medication</th>
				<th>Qty</th>
				<th>Sig</th>
				<th>Refills</th>
				<th>Print on Rx?</th>
			</tr>
	
			<% @dc_summary.prescriptions.each do |rx| %>
			<tr>
				<td><%= rx.drug.decrypt(session[:group_password]) %></td>
				<td><%= rx.quantity%></td>
				<td><%= rx.sig.decrypt(session[:group_password]) %></td>
				<td><%= rx.refills%></td>
				<td><%= "<i class='i icon-ok'></i>".html_safe if rx.print?%></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>
<p class="help-block">Medications will be printed on prescription only if you provided a quantity and a sig</p>

</div>