<div style="font-size: 20px; text-align: center">New User Notification</div>
<br/>
<div id="gray" style="margin-bottom: 30px">
	A new user has registered on <%= ENV['APPLICATION_NAME'] %>. If this user is authorized to use the site, please <%= link_to "click here", url_for(:controller => "admin/users", :action => "authorize", :id => @user.id, :only_path => false ) %>.
</div>

<div id="content">
	<table>
		<tr>
			<td>Name:</td>
			<td><%= @user.name %></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<td>Pager:</td>
			<td><%= number_to_phone(@user.pager_number, :area_code => true) %></td>
		</tr>
	</table>
</div>
