<div id="side-bar-notification"></div>
<%= button_tag "Save Discharge Summary", :id => "save-discharge-summary", :class => "btn btn-info"%>
	<% if @dc_summary.can_be_finalized? %>
		<br/><br/>
		<%= button_tag "Finalize Discharge Summary", :id => "finalize-discharge-summary", :class => "button medium green", :style => "width: 200px" %>
	<% end %>

<br/><br/><br/>
<% if @dc_summary.can_be_finalized? %>
	<h3>All Required Fields Filled</h3>
	All the required fields are filled to finalize this discharge. Use the "Finalize Discharge"
	button below to generate your discharge documents.
	<br/>
	<br/>Warning: after finalizing discharge
	you not be able to make any changes without administrative approval.
<% else %>
	<h3>Missing Fields</h3>
	You are still missing the following fields before
	you can finalize this d/c summary:<br/>
<% end %>

<ol>
	<li class="<%= "strikethru" unless @dc_summary.chief_complaint.blank? -%>">Chief Complaint</li>
	<li class="<%= "strikethru" unless @dc_summary.diagnoses.blank? -%>">Discharge Diagnoses</li>
	<li class="<%= "strikethru" unless @dc_summary.hpi.blank? -%>">History of Present Illness</li>
	<li class="<%= "strikethru" unless @dc_summary.hospital_course.blank? -%>">Hospital Course</li>
	<li class="<%= "strikethru" if @dc_summary.admit_date -%>">Admission Date</li>
	<li class="<%= "strikethru" if @dc_summary.discharge_date -%>">Discharge Date</li>
	<li class="<%= "strikethru" unless @dc_summary.service.blank? -%>">Service</li>
	<li class="<%= "strikethru" unless @dc_summary.attending.blank? -%>">Attending</li>
	<li class="<%= "strikethru" unless @dc_summary.resident.blank? -%>">Resident</li>
	<li class="<%= "strikethru" unless @dc_summary.activity.blank? -%>">Activity</li>
	<li class="<%= "strikethru" unless @dc_summary.condition.blank? -%>">Condition</li>
	<li class="<%= "strikethru" unless @dc_summary.disposition.blank? -%>">Disposition</li>
	<li class="<%= "strikethru" unless @dc_summary.diet.blank? -%>">Diet</li>
</ol>
<br/>



<br/>
<% unless @dc_summary.can_be_finalized? %>
	<h3>Next Step</h3>
	Once you have filled out all the required fields the "Finalize Discharge" button will appear. 
	Clicking this button will generate all the required discharge paperwork, including prescriptions,
	and notes to copy and paste into clinical workstation.
<% end %>