<%= form_for @dc_summary, :id => @dc_summary.id do |f| %>
	<%= req_field %>Field required to finalize discharge<br/><br/>
	<% if @dc_summary.errors.any? %>
	<div id="alert">
		<%= errors_for(@dc_summary, "Could not start d/c summary:")%>
	</div>
	<% end %>
	<h3>Patient Identification</h3>
		<%= req_field %><%= f.label "Name" %><br/>
		<%= f.text_field :first_name, :title => "First Name", :style => "fullwidth" %><br/>
		<%= f.text_field :last_name, :title => "Last Name", :style => "fullwidth" %><br/>
	
		<%= req_field %><%= f.label :mrn%><br/>
		<%= f.text_field :mrn, :style => "fullwidth", :title => "0000000" %><br/>
		<%= req_field %><%= f.label "Date of Birth"%><br/>
		<%= f.text_field :dob, :title => "mm/dd/yyyy", :style => "fullwidth" %><br/>
	
	<% if @dc_summary.new_record? %>
		<%= f.submit "Start D/C Summary", :class => "button green large "%>
	<% else %>
		<%= f.submit "Save D/C Summary", :class => "button green large fullwidth" %>
	<% end %>
<% end %>