<% if @dc_summary.errors.any? %>
	<div id="alert"><%= errors_for(@dc_summary, "Could not update d/c summary") %></div>
<% end %>
<h3>Patient Identification</h3>
	<%= @dc_summary.first_name.decrypt(session[:group_password]) %> <%= @dc_summary.last_name.decrypt(session[:group_password]) %><br/>
	<%= @dc_summary.mrn %>
	</br><br/>
	<%= req_field %>Field required to finalize discharge<br/><br/>
	
<h3>Medications</h3>
	<%= import_buttons("rx") -%><br/>
	<br/>
	<%= render :partial => "/prescriptions/table", :object => @dc_summary.prescriptions %>
	<br/>
	<%= button_tag "+ Add Prescription", :id => "add-button", :class => "button green small" %>
	<div id="add-form">
		<%= render :partial => "/prescriptions/form", :locals => {:dc_summary_id => @dc_summary.id } -%>
	</div>
	<br/><br/>

	
<%= form_for @dc_summary, :id => @dc_summary.id do |f| %>

	
	<h3>Medical Information</h3>
		<%= req_field %><%= f.label "Discharge Diagnoses" %> <br/><%= import_buttons("diagnoses") -%> <br/>
		<%= f.text_area :diagnoses, :rows => 10, :class => "fullwidth", :title => "", :value => f.object.diagnoses.decrypt(session[:group_password])%>
		
		<%= req_field %><%= f.label "History of Present Illness" %> <br/><%= import_buttons("hpi") -%><br/>
		<%= f.text_area :hpi, :rows => 10, :class => "fullwidth", :title => "", :value => f.object.hpi.decrypt(session[:group_password]) %>
	
		<%= req_field %><%= f.label "Hospital Course" %> <br/><%= import_buttons("hospital-course") -%><br/>
		<%= f.text_area :hospital_course, :rows => 10, :class => "fullwidth", :title => "", :value => f.object.hospital_course.decrypt(session[:group_password]) %>
	
		<h3>General Info</h3>
			<table class="fullwidth">
				<tr valign="top">
					<td width="250">				
						<%= req_field %><%= f.label "Admission Date" %><br/>
						<%= f.date_select :admit_date, :order => [:month, :day, :year], :include_blank => true %><br/>

						<%= req_field %><%= f.label "Discharge Date" %><br/>
						<%= f.date_select :discharge_date, :order => [:month, :day, :year], :include_blank => true %>
					</td>
					<td width="30">&nbsp;</td>
					<td>
						<%= req_field %><%= f.label "Attending" %><br/>
						<%= f.text_field :attending, :size => 18 %><br/>

						<%= req_field %><%= f.label "Resident" %><br/>
						<%= f.text_field :resident, :size => 18  %><br/>

						<%= f.label "Intern" %><br/>
						<%= f.text_field :intern, :size => 18  %><br/>

						<%= f.label "Medical Student" %><br/>
						<%= f.text_field :medical_student, :size => 18  %>
					</td>
				</tr>
			</table>
			
		<h3>Patient Instructions</h3>
			<%= req_field %><%= f.label :activity %><br/>
			<%= f.text_field :activity %><br/>
			<%= req_field %><%= f.label :condition %><br/>
			<%= f.text_field :condition %><br/>
			<%= req_field %><%= f.label :disposition %><br/>
			<%= f.text_field :disposition %><br/>
			<%= req_field %><%= f.label :diet %><br/>
			<%= f.text_field :diet %><br/>
			
			<div id='follow-button' style='text-align: right'>
			<% if @dc_summary.new_record? %>
				<%= f.submit "Start D/C Summary", :class => "button green large "%>
			<% else %>
				<%= f.submit "Save Discharge Summary", :class => "button white large" %> <%= link_to "Cancel", :action => "show", :id => @dc_summary.id %>
			<% end %>
			</div>
			
<% end %>