<% if @dc_summary.errors.any? %>
	<div class="alert alert-error"><%= errors_for(@dc_summary, "Could not update d/c summary") %></div>
<% end %>

<div class="page-header">
	<div class="row">
		<div class="span6">
		<h1>
			<%= @dc_summary.first_name.decrypt(session[:group_password]) %> <%= @dc_summary.last_name.decrypt(session[:group_password]) %>
		</h1>
		<h2>
			<%= @dc_summary.mrn %>
		</h2>
		</br>
		<%= req_field %>Field required to finalize discharge<br/><br/>
		</div>
	</div>
</div>

<div class="page-header">
	<div class="row">
		<div class="span2">
			<h4>Medications</h4>
		</div>
		<div class="span3 pull-right">
			<%= import_buttons("rx", @dc_summary.id) -%>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="span8">
			<%= render :partial => "/prescriptions/table", :object => @dc_summary.prescriptions %>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="span8" id="add-form">
			<%= render :partial => "/prescriptions/form", :locals => {:dc_summary_id => @dc_summary.id } -%>
		</div>
	</div>
</div>

<div class="page-header">
	<div class="row">
		<div class="span4">
			<h4>Consultation Requests</h4>
		</div>
	</div>
	<div class="row">
		<div class="span8">	
			<%= render :partial => "/consults/table", :object => @dc_summary.consults %>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="span8" id="add-form-consults">
			<%= render :partial => "/consults/form", :locals => {:dc_summary_id => @dc_summary.id } -%>
		</div>
	</div>
</div>
<%= form_for @dc_summary, :remote => true do |f| %>

<div class="page-header">
	<div class="row">
		<div class="span8">
			<h4>Medical Information</h4>
			<br/>
		</div>
	</div>
	
	<div class="row">
		<div class="span8">
			<div class="row">
				<div class="span2">
					<%= f.label :one_liner %>
				</div>
				<div class="span4 pull-left">
					<%= import_buttons("one_liner", @dc_summary.id) %>
				</div>
			</div>
			
			<%= f.text_area :one_liner, :rows => 5, :class => "span8", :placeholder => "One liner is used to pre-fill consultation requests for you", :value => f.object.one_liner.decrypt(session[:group_password])%>
			
			<%= req_field %><%= f.label :chief_complaint %>
			<%= f.text_area :chief_complaint, :rows => 2, :class => "span8", :placeholder => "", :value => f.object.chief_complaint.decrypt(session[:group_password])%>
			
			<div class="row">
				<div class="span2">
					<%= req_field %><%= f.label "Discharge Diagnoses" %>
				</div>
				<div class="span4 pull-left">
					<%= import_buttons("diagnoses", @dc_summary.id) -%>
				</div>
			</div>
			
			<%= f.text_area :diagnoses, :rows => 10, :class => "span8", :placeholder => "Please include all diagnoses, including those not addressed during this admission", :value => f.object.diagnoses.decrypt(session[:group_password])%>
		
			<%= req_field %><%= f.label "History of Present Illness" %>
			<%= f.text_area :hpi, :rows => 10, :class => "span8", :placeholder => "Briefly describe pertinent patient history", :value => f.object.hpi.decrypt(session[:group_password]) %>
	
			<%= req_field %><%= f.label "Hospital Course" %>
			<%= f.text_area :hospital_course, :rows => 10, :class => "span8", :placeholder => "Include all pertinent procedures, studies, and medical decision making", :value => f.object.hospital_course.decrypt(session[:group_password]) %>
		
			<%= f.label "Procedures" %>
			<%= f.text_area :procedures, :rows => 10, :class => "span8", :placeholder => "Any procedures performed during this admission", :value => f.object.procedures.decrypt(session[:group_password]) %>
		</div>
	</div>
</div>

<div class="page-header">
	<div class="row">
		<div class="span8">
			<h4>General Info</h4>
		</div>
	</div>
	
	<div class="row">
		<div class="span4">			
			<%= req_field %><%= f.label "Admission Date" %>
			<%= f.date_select :admit_date, {:order => [:month, :day, :year], :include_blank => true}, {:class => "span1"} %>

			<%= req_field %><%= f.label "Discharge Date" %>
			<%= f.date_select :discharge_date, {:order => [:month, :day, :year], :include_blank => true}, {:class => "span1" } %>
						
			<%= req_field %><%= f.label "Service"%>
			<%= f.text_field :service, :size => 18 %>
		</div>
		<div class="span4">
			<%= req_field %><%= f.label "Attending" %>
			<%= f.text_field :attending, :size => 18 %>

			<%= req_field %><%= f.label "Resident" %>
			<%= f.text_field :resident, :size => 18  %>

			<%= f.label "Intern" %>
			<%= f.text_field :intern, :size => 18  %>

			<%= f.label "Medical Student" %>
			<%= f.text_field :medical_student, :size => 18 %>
		</div>
	</div>
</div>

<div class="page-header">
	<div class="row">
		<div class="span8">
			<h4>Patient Instructions</h4>
		</div>
	</div>
	
	<div class="row">
		<div class="span4">
			<%= req_field %><%= f.label :activity %>
			<%= f.text_field :activity, :placeholder => "As tolerated, bed rest, etc", :value => @dc_summary.activity.decrypt(session[:group_password]), :size => 20 %>

			<%= req_field %><%= f.label :condition %>
			<%= f.text_field :condition, :placeholder => "Stable, guarded, etc", :value => @dc_summary.condition.decrypt(session[:group_password]), :size => 20 %>
		</div>
		<div class="span4">
			<%= req_field %><%= f.label :disposition %>
			<%= f.text_field :disposition, :placeholder => "Home, SNF, etc", :value => @dc_summary.disposition.decrypt(session[:group_password]), :size => 20 %><br/>

			<%= req_field %><%= f.label :diet %>
			<%= f.text_field :diet, :placeholder => "Heart Healthy, Carb Controlled", :value => @dc_summary.diet.decrypt(session[:group_password]), :size => 20 %>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="span8">
			<%= f.label :follow_up %>
			<%= f.text_area :follow_up, :class => "span8", :rows => 5, :placeholder => "List all upcoming clinic appointments and outpatient studies. Any consultation requests you create will automatically be included in the final follow up list.", :value => f.object.follow_up.decrypt(session[:group_password])  %>

			<%= f.label :discharge_instructions %>
			<%= f.text_area :dc_instructions, :class => "span8", :rows => 5, :placeholder => "Discharge instructions will directly print on the patient information sheet as well as be included in the d/c summary.", :value => f.object.dc_instructions.decrypt(session[:group_password])  %>
			
			<%= f.label :discharge_orders %>
			<%= f.text_area :discharge_orders, :class => "span8", :rows => 5, :placeholder => "Any outpatient studies you would like to order. These will be printed on the final patient instruction sheet", :value => f.object.discharge_orders.decrypt(session[:group_password]) %>
		</div>
	</div>
	
	<div class="row">
		<div class="span8">
			<%= f.hidden_field :finalized %>
			<%= button_tag "Save Discharge Summary", :type => "submit", :class => "btn btn-info btn-large" %> 
			<%= link_to "Cancel", url_for(:action => "index"), :confirm => "Are you sure? You will lose any changes you've made" %>
		</div>
	</div>
</div>
			
<% end %>