<!DOCTYPE html>
<html>
<head>
  <title>olive-view-tools</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
	$(function(){ $('.columns').equalHeights(); });

	$(document).on('mouseenter','.reminder', function() {
        $(this).find('div:first').show()
    });
	$(document).on('mouseleave','.reminder', function() {
        $(this).find('div:first').hide()
    });

	$(document).ready(function() {
	    $('input[title]').inputHints();

	});
  </script>
</head>
<body>

<div id="wrap">
	<div id="header">
		<%= render :partial => "/shared/header" %>
	</div>
	<div id="nav">
		<%= render :partial => "/shared/navigation" %>
	</div>
	<div id="main">
		<div style="margin: 20px"><%=yield %></div>
	</div>
	<div id="sidebar">
		<%= render :partial => "/shared/sidebar" %>
	</div>
	<div id="footer"><%= render :partial => "/shared/footer" %></div>
</div>

</body>
</html>
