<!DOCTYPE html>
<html>
<head>
  <title>olive-view-tools</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">	
	$(document).ready(function() {
	    $('input[title]').inputHints();
	});
  </script>
</head>
<body>


<div id="mainContainer" class="shadow">
	<div id="headerDiv">
		<div style="float: left; margin-left: 80px">
			<div style="font-size: 10px">Olive View-UCLA Dept. of Internal Medicine</div>
			<div style="font-size: 16px; margin-top: 3px; font-family: 'Arial Black'"><%= Time.now.strftime('%A %B %e, %Y') %></div>
		</div>
		<div style="float: right">
			<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
		</div>
	</div>
	<div id="mainContent">
		<%= yield %>
	</div>
</div>
<div id="footerDiv">
	&copy; <%= Time.now.year %> - Olive View-UCLA Internal Medicine Dept.
</div>

</body>
</html>
